@import 'node_modules/normalize-scss/sass/normalize/import-now';
@import 'reset';
@import 'fonts';
@import 'utils';

body {
    color: #111;
    font-family: 'Raleway';
    font-size: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}
