// Flex
.flex {
    display: flex;
    align-items: center;
    justify-content: center;

    &--down {
        @extend .flex;
        flex-direction: column;
    }
}

// Positioning
.position {
    &-absolute { position: absolute; }
    &-relative { position: relative; }
}

